/*  There are some MASSIVE hacks in this, but hey*/

.floor {
  border-style: solid;
  border-width: thin;
  border-color: grey;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
}

.desk-top-left, .desk-top-right, .desk-bottom-left, .desk-bottom-right{
    height: 15px;
}

.desk-top-right{
  margin-top: 3px;
}

.desk-bottom-right{
  margin-bottom: 3px;
}

.desk-bottom-left{
  margin-bottom: 8px;
}

.desk-top-left{
  margin-top: 8px;
}

.desk-top-right, .desk-top-left{
  border-radius: 5px 5px 0px 0px;
}

.desk-bottom-right, .desk-bottom-left{
  border-radius: 0px 0px 5px 5px;
}

.room, .desk-top-right, .desk-bottom-right, .desk-top-left, .desk-bottom-left, .room-large, .breakout, div.printer{
  border-style: solid;
  border-width: thin;
  border-color: grey;
  background-color: #dad9db;
}

.room, .room-large{
  margin-bottom: 5px;
  border-radius: 10px;
}

.room{
  height: 30px;
  padding-top: 5%;
}

.room-large{
  height: 90px;
  padding-top: 18%;
}

.red-chewit, .purple-chewit, .breakout{
  width: 40%;
  padding-top: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.red-chewit, .purple-chewit{
    border-style: solid;
    border-width: thin;
    border-radius: 50px 50px 50px 50px;
    height: 35px;
}

.breakout{
  border-radius: 50%;
  height: 35px;
  margin-top: 10px;
}

.red-chewit{
  border-color: #871400;
  background-color: #871400;
}

.purple-chewit{
  border-color: #522172;
  background-color: #522172;
}

span.printer{
  width: 30%;
  background-color: #dad9db;
  padding-top: 5px;
}

div.printer{
  height: 30px;
  margin-top: 10px;
  margin-bottom: 26px;
}

.glyphicon-print{
  font-size: 20px;
  color: #666368;
}

.small{
  width: 49%;
}

.pull-bottom{
  margin-top: 30px;
}

table{
  width: 100%;
  text-align: center;
}

.w85{
  width: 80%;
}

.w95{
  width: 95%;
}

.w40{
  width: 40%;
}

.pre-scrollable{
  max-height: 100vh;
}

.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 5;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 5;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 5;
}

@keyframes flash {
    0% { background-color: #dad9db; }
    50% { background-color: #f7b620; }
    100% { background-color: #dad9db; }
}

@-webkit-keyframes flash {
    0% { background-color: #dad9db; }
    50% { background-color: #f7b620; }
    100% { background-color: #dad9db; }
}

@-moz-keyframes flash {
    0% { background-color: #dad9db; }
    50% { background-color: #f7b620; }
    100% { background-color: #dad9db; }
}

@-ms-keyframes flash {
    0% { background-color: #dad9db; }
    50% { background-color: #f7b620; }
    100% { background-color: #dad9db; }
}
