<!DOCTYPE html>
<html lang="en">
<head>
  <title>9202 Floor Plan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style/plan.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/scripts/plan.js"></script>
</head>
<body>
  <div class="container">
    <!--  title -->
    <div class="jumbotron">
      <h1>9202 Floor Plan</h1>
      <p>Interactive floor plan to locate where you want to be in 9202</p>
    </div>
    <!--  app -->
    <div class="row">
      <!-- left hand pane -->
      <div class="col-sm-6">
        <h2>Teams</h2>
        <div class="panel-group pre-scrollable" id="teams">
          <!--  RICE -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#teams" href="#rice">RICE</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showTeamElement('ricedesk')">Locate</button>
                </div>
              </div>
            </div>
            <div id="rice" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>What We Do</h4>
                <p>Re-imagining customer experience. RICE is developing the future user experience the department should align to and how technology can support our goal.</p>
              </div>
            </div>
          </div>
          <!-- SFT -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#teams" href="#sft">SFT</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showTeamElement('sftdesk')">Locate</button>
                </div>
              </div>
            </div>
            <div id="sft" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>What We Do</h4>
                <p>Secure File Testing. Performance testing.</p>
              </div>
            </div>
          </div>
          <!-- CAMLite -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#teams" href="#cam-bau">CAMLite</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showTeamElement('camdesk')">Locate</button>
                </div>
              </div>
            </div>
            <div id="cam-bau" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>What We Do</h4>
                <p>Support and deliver development to CAMLite application.</p>
              </div>
            </div>
          </div>
          <!-- RTE -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#teams" href="#rte">RTE</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showTeamElement('rtedesk')">Locate</button>
                </div>
              </div>
            </div>
            <div id="rte" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>What We Do</h4>
                <p>Real Time Earnings is a massive database that takes information from HMRC about the amount people earn, cleans it, then distributes it.</p>
              </div>
            </div>
          </div>
          <!--  WSP -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#teams" href="#wsp">WSP</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showTeamElement('wspdesk')">Locate</button>
                </div>
              </div>
            </div>
            <div id="wsp" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>What We Do</h4>
                <p>Development and changes for WSP system.</p>
              </div>
            </div>
          </div>
          <!-- Business and Management -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#teams" href="#bam">Business and Management</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showTeamElement('bamdesk')">Locate</button>
                </div>
              </div>
            </div>
            <div id="bam" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>What We Do</h4>
                <p>Portfolio management, resourcing and recruiting</p>
              </div>
            </div>
          </div>
          <!-- Contract and Supplier Management team -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#teams" href="#csm">Contract and Supplier Management Team</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showTeamElement('csmdesk')">Locate</button>
                </div>
              </div>
            </div>
            <div id="csm" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>What We Do</h4>
                <p>Procurement and contracting for supplier</p>
              </div>
            </div>
          </div>



          <!-- Implementation Management -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#teams" href="#im">Implementation Management</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showTeamElement('imdesk')">Locate</button>
                </div>
              </div>
            </div>
            <div id="im" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>What We Do</h4>
                <p>Support implementation of DWP systems.</p>
              </div>
            </div>
          </div>


          <!-- Service Transition -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#teams" href="#st">Service Transition</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showTeamElement('stdesk')">Locate</button>
                </div>
              </div>
            </div>
            <div id="st" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>What We Do</h4>
                <p>Transition services into live.</p>
              </div>
            </div>
          </div>

          <!-- Deputy Director table-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#teams" href="#ddt">Deputy Director</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showTeamElement('dddesk')">Locate</button>
                </div>
              </div>
            </div>
            <div id="ddt" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>What We Do</h4>
                <p>Deptuy Director for Working Age</p>
              </div>
            </div>
          </div>

          <!-- Architects -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#teams" href="#arch">Architects</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showTeamElement('archdesk')">Locate</button>
                </div>
              </div>
            </div>
            <div id="arch" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>What We Do</h4>
                <p>Assurance and guidance for design.</p>
              </div>
            </div>
          </div>



        </div>
        <!-- Rooms -->
        <h2>Rooms</h2>
        <div class="panel-group pre-scrollable" id="rooms">
          <!-- Westoe -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#rooms" href="#9212">BP9212 Westoe</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showPlanElement('bpw')">Locate</button>
                </div>
              </div>
            </div>
            <div id="9212" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>Contents</h4>
                <p>Small screen, projector and table.</p>
              </div>
            </div>
          </div>
          <!-- BP9210 -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#rooms" href="#9210">BP9210 Beamish</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showPlanElement('bpb')">Locate</button>
                </div>
              </div>
            </div>
            <div id="9210" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>Contents</h4>
                <p>Business and Management Team.</p>
              </div>
            </div>
          </div>
          <!-- Wearmouth -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#rooms" href="#9216">BP9216 Wearmouth</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showPlanElement('bpwh')">Locate</button>
                </div>
              </div>
            </div>
            <div id="9216" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>Contents</h4>
                <p>Screen, table and phone.</p>
              </div>
            </div>
          </div>
          <!-- Tudhoe Mill -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#rooms" href="#9218">BP9218 Tudhoe Mill</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showPlanElement('bptm')">Locate</button>
                </div>
              </div>
            </div>
            <div id="9218" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>Contents</h4>
                <p>Table and phone.</p>
              </div>
            </div>
          </div>
          <!-- Vane Tempest -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#rooms" href="#9236">BP9236 Vane Tempest</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showPlanElement('bpvt')">Locate</button>
                </div>
              </div>
            </div>
            <div id="9236" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>Contents</h4>
                <p>Screens, table and phone.</p>
              </div>
            </div>
          </div>
          <!-- Woodthorn -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#rooms" href="#9208">BP9208 Woodthorn</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showPlanElement('bpwn')">Locate</button>
                </div>
              </div>
            </div>
            <div id="9208" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>Contents</h4>
                <p>Screen, table and phone.</p>
              </div>
            </div>
          </div>
          <!-- Ashington -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#rooms" href="#9228">BP9228 Ashington</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showPlanElement('bpa')">Locate</button>
                </div>
              </div>
            </div>
            <div id="9228" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>Contents</h4>
                <p>Table, phone.</p>
              </div>
            </div>
          </div>
          <!-- Chevington -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#rooms" href="#9206">BP9206 Chevington</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showPlanElement('bpc')">Locate</button>
                </div>
              </div>
            </div>
            <div id="9206" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>Contents</h4>
                <p>Table and phone.</p>
              </div>
            </div>
          </div>
          <!-- BP9238 -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#rooms" href="#9238">BP9238</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showPlanElement('bp38')">Locate</button>
                </div>
              </div>
            </div>
            <div id="9238" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>Contents</h4>
                <p>Table, phone.</p>
              </div>
            </div>
          </div>
          <!-- Pegswood -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#rooms" href="#9230">BP9230 Pegswood</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showPlanElement('bpp')">Locate</button>
                </div>
              </div>
            </div>
            <div id="9230" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>Contents</h4>
                <p>Table, phone.</p>
              </div>
            </div>
          </div>

        </div>
      </div>


      <!--  right hand pane -->
      <div class="col-sm-6">
        <h2>Plan</h2>
        <div class="floor">
          <table>
            <tr>
              <!-- Left Floor-->
              <td>
                <table class="column-table pull-left">
                  <tr><td class="row-room"><div class="room colourable" id="bpw">BP9212<br/>Westoe</div></td></tr>
                  <tr><td class="row-room"><div class="room room-large colourable bamdesk" id="bpb">BP9210<br/>Beamish</div></td></tr>
                  <tr><td class="row-room"><div class="desk-top colourable wspdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-bottom colourable wspdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-top colourable wspdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-bottom colourable wspdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-top colourable rtedesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-bottom colourable rtedesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-top colourable rtedesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-bottom colourable rtedesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-top colourable camdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-bottom colourable camdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-top colourable camdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-bottom colourable camdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-top"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-bottom"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-top colourable sftdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-bottom colourable sftdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-top colourable ricedesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-bottom colourable ricedesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-top colourable ricedesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-bottom colourable ricedesk"></div></td></tr>
                  <tr><td class="row-padding"></td></tr>
                  <tr><td class="row-room"><div class="room room-large colourable" id="bpvt">BP9236<br/>Vane Tempest</div></td></tr>
                  <tr><td class="row-room"><div class="room colourable" id="bpwn">BP9208<br/>Woodthorn</div></td></tr>
                </table>
              </td>
              <!-- Aisle -->
                <!-- <td class="row-aisle"><div class="aisle"></div></td> -->
              <!-- Right Floor-->
              <td>
                <table class="column-table pull-right">
                  <tr><td class="row-room"><div class="room colourable" id="bpwh">BP9216<br/>Wearmouth</div></td></tr>
                  <tr>
                    <td class="row-room">
                      <span class="room small pull-left colourable" id="bptm">BP9218<br/>Tudhoe Mill</span>
                      <span class="room small pull-right colourable" id="bp38"><p class="pad-down">BP9238</p></span>
                    </td>
                  </tr>
                  <tr><td class="row-room"><div class="desk-top colourable csmdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-bottom colourable csmdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-top"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-bottom"></div></td></tr>
                  <tr>
                    <td class="row-chewit">
                      <span class="purple-chewit small pull-left"></span>
                      <span class="red-chewit small pull-right"></span>
                    </td>
                  </tr>
                  <tr><td class="row-room"><div class="desk-top colourable imdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-bottom colourable imdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-top colourable stdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-bottom colourable stdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-top"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-bottom"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-top colourable camdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-bottom colourable camdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-top colourable camdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-bottom colourable camdesk"></div></td></tr>
                  <tr>
                    <td class="row-chewit">
                      <span class="red-chewit small pull-left"></span>
                      <span class="purple-chewit small pull-right"></span>
                    </td>
                  </tr>
                  <tr><td class="row-room"><div class="desk-top colourable dddesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-bottom colourable archdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-top colourable archdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="desk-bottom colourable archdesk"></div></td></tr>
                  <tr><td class="row-room"><div class="room hot-desk">Hot Desk<br/>Area</div></td></tr>
                  <tr><td class="row-padding"></td></tr>
                  <tr><td class="row-chewit"><div class="red-chewit small pull-right"></div></td></tr>
                  <tr>
                    <td class="row-room">
                      <span class="room small pull-left colourable" id="bpa">BP9228<br/>Ashington</span>
                      <span class="room small pull-right colourable" id="bpp">BP9230<br/>Pegswood</span>
                    </td>
                  </tr>
                  <tr><td class="row-room"><div class="room colourable" id="bpc">BP9220<br/>Chevington</div></td></tr>
                </table>
              </td>
            <tr>
          </table>
        </div>
      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
</body>
<!-- <table>
  <tr>
    <td class="row-room"><div class="room">BP9212 Westoe</div></td>
    <td class="row-aisle"><div class="aisle"></div></td>
    <td class="row-room"><div class="room">BP9216 Wearmouth</div></td>
  </tr>
  <tr>
    <td class="row-room"><div class="room room-large">BP9210 Beamish</div></td>
    <td class="row-aisle"><div class="aisle"></div></td>
    <td class="row-room">
      <span class="room small pull-left">BP9218<br/>Tudhoe Mill</span>
      <span class="room small pull-right">BP9238</span>

    </td>


  </tr>

</table> -->
</html>
