<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style/plan.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
      function log(val){
        document.getElementById("room-1").style.color="red"
        console.log(val)
      }
  </script>
</head>
<body>
  <div class="container-fluid">
    <div class="jumbotron">
      <h1>9202 Floor Plan</h1>
      <p>Interactive floor plan to locate where you want to be in 9202</p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h2>Teams</h2>
        <div class="panel-group" id="teams">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#teams" href="#rice">RICE</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="log('button')">Locate</button>
                </div>
              </div>
            </div>
            <div id="rice" class="panel-collapse collapse in">
              <div class="panel-body">
                <h4>What We Do</h4>
                <p>Some stuff on post-its mainly. Look at our board. Pictures.</p>
                <h4>Who We Are</h4>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#teams" href="#testers">
                  Test</a>
                </h4>
              </div>
              <div id="testers" class="panel-collapse collapse">
                <div class="panel-body">Working Age testers</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#teams" href="#cam-bau">CAMLite BAU</a>
                  </h4>
                </div>
                <div id="cam-bau" class="panel-collapse collapse">
                  <div class="panel-body">CAMLite Business-As-Usual team</div>
                </div>
              </div>
            </div>






          </div>
          <div class="col-sm-6">
            <h2>Plan</h2>
            <div class="floor">
              <div class="row">
                <div class="col-sm-5 room" id="room-1">Room 1</div>
                <div class="col-sm-2 aisle"></div>
                <div class="col-sm-5 room">Room 2</div>
              </div>
              <div class="row">
                <div class="col-sm-5 room">Room 3</div>
                <div class="col-sm-2 aisle"></div>
                <div class="col-sm-2 room">Room 4</div>
                <div class="col-sm-3 room">Room 5</div>
              </div>
            </div>

          </div>
          </div>
        </div>
      </div>
    </body>
    </html>
