<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style/plan.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/scripts/plan.js"></script>
</head>
<body>
  <div class="container">
    <!--  title -->
    <div class="jumbotron">
      <h1>9202 Floor Plan</h1>
      <p>Interactive floor plan to locate where you want to be in 9202</p>
    </div>
    <!--  app -->
    <div class="row">
      <!-- left hand pane -->
      <div class="col-sm-6">
        <h2>Teams</h2>
        <div class="panel-group pre-scrollable" id="teams">
          <!--  RICE -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#teams" href="#rice">RICE</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showPlanElement('room-1')">Locate</button>
                </div>
              </div>
            </div>
            <div id="rice" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>What We Do</h4>
                <p>Re-imagining customer experience. RICE is developing the future user experience the department should align to and how technology can support our goal.</p>
              </div>
            </div>
          </div>
          <!-- SFT -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#teams" href="#sft">SFT</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showPlanElement('room-2')">Locate</button>
                </div>
              </div>
            </div>
            <div id="sft" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>What We Do</h4>
                <p>Secure File Testing. Performance testing.</p>
              </div>
            </div>
          </div>
          <!-- CAMLite -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#teams" href="#cam-bau">CAMLite</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showPlanElement('room-3')">Locate</button>
                </div>
              </div>
            </div>
            <div id="cam-bau" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>What We Do</h4>
                <p>Support and deliver development to CAMLite application.</p>
              </div>
            </div>
          </div>
          <!-- RTE -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#teams" href="#rte">RTE</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showPlanElement('room-4')">Locate</button>
                </div>
              </div>
            </div>
            <div id="rte" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>What We Do</h4>
                <p>Real Time Earnings is a massive database that takes information from HMRC about the amount people earn, cleans it, then distributes it.</p>
              </div>
            </div>
          </div>
          <!--  WSP -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#teams" href="#wsp">WSP</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showPlanElement('room-5')">Locate</button>
                </div>
              </div>
            </div>
            <div id="wsp" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>What We Do</h4>
                <p>Development and changes for WSP system.</p>
              </div>
            </div>
          </div>
          <!-- Business and Management -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#teams" href="#bam">Business and Management</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showPlanElement('room-6')">Locate</button>
                </div>
              </div>
            </div>
            <div id="bam" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>What We Do</h4>
                <p>Portfolio management, resourcing and recruiting</p>
              </div>
            </div>
          </div>
        </div>
        <!--  Rooms -->
        <h2>Rooms</h2>
        <div class="panel-group pre-scrollable" id="rooms">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#rooms" href="#tudhoe">Tudhoe</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showPlanElement('room-1')">Locate</button>
                </div>
              </div>
            </div>
            <div id="tudhoe" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>Size</h4>
                <div>
                  <span class="glyphicon glyphicon-user"></span>
                  <span class="glyphicon glyphicon-user"></span>
                  <span class="glyphicon glyphicon-user"></span>
                  <span class="glyphicon glyphicon-user"></span>
                  <span class="glyphicon glyphicon-user"></span>
                </div>
                <h4>Facilities</h4>
                <div>
                  <span class="glyphicon glyphicon-earphone"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#rooms" href="#westoe">Westoe</a>
                  </h4>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn pull-right" onclick="showPlanElement('room-2')">Locate</button>
                </div>
              </div>
            </div>
            <div id="westoe" class="panel-collapse collapse">
              <div class="panel-body">
                <h4>Size</h4>
                <div>
                  <span class="glyphicon glyphicon-user"></span>
                  <span class="glyphicon glyphicon-user"></span>
                  <span class="glyphicon glyphicon-user"></span>
                  <span class="glyphicon glyphicon-user"></span>
                  <span class="glyphicon glyphicon-user"></span>
                </div>
                <h4>Facilities</h4>
                <div>
                  <span class="glyphicon glyphicon-earphone"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  right hand pane -->
      <div class="col-sm-6">
        <h2>Plan</h2>
        <div class="floor">
          <table>
            <tr>
              <td class="row-room"><div class="room clearable" id="room-1"></div></td>
              <td class="row-aisle"><div class="aisle"></div></td>
              <td class="row-room"><div class="room clearable" id="room-2"></div></td>
            </tr>
            <tr>
              <td class="row-room"><div class="room room-large clearable" id="room-3"></div></td>
              <td class="row-aisle"><div class="aisle"></div></td>
              <td class="row-room">
                <span class="room small pull-left clearable" id="room-4"></span>
                <span class="room small pull-right clearable" id="room-5"></span>
              </td>
            </tr>
            <tr>
              <td class="row-room"><div class="clearable desk-top" id="desk-1"></div></td>
              <td class="row-aisle"><div class="aisle"></div></td>
              <td class="row-room"><div class="clearable desk-top" id="desk-2"></div></td>
            </tr>
            <tr>
              <td class="row-room"><div class="clearable desk-bottom" id="desk-3"></div></td>
              <td class="row-aisle"><div class="aisle"></div></td>
              <td class="row-room"><div class="clearable desk-bottom" id="desk-4"></div></td>
            </tr>
            <tr>
              <td class="row-room"><div class="clearable desk-top" id="desk-5"></div></td>
              <td class="row-aisle"><div class="aisle"></div></td>
              <td class="row-room"><div class="clearable desk-top" id="desk-6"></div></td>
            </tr>
            <tr>
              <td class="row-room"><div class="clearable desk-bottom" id="desk-7"></div></td>
              <td class="row-aisle"><div class="aisle"></div></td>
              <td class="row-room"><div class="clearable desk-bottom" id="desk-8"></div></td>
            </tr>
            <tr>
              <td class="row-room"><div class="clearable desk-top" id="desk-5"></div></td>
              <td class="row-aisle"><div class="aisle"></div></td>
              <td class="row-room"><div class="clearable desk-top" id="desk-6"></div></td>
            </tr>
            <tr>
              <td class="row-room"><div class="clearable desk-bottom" id="desk-7"></div></td>
              <td class="row-aisle"><div class="aisle"></div></td>
              <td class="row-room"><div class="clearable desk-bottom" id="desk-8"></div></td>
            </tr>
            <tr>
              <td class="row-room"><div class="clearable desk-top" id="desk-9"></div></td>
              <td class="row-aisle"><div class="aisle"></div></td>
              <td class="row-room"><div class="clearable desk-top" id="desk-10"></div></td>
            </tr>
            <tr>
              <td class="row-room"><div class="clearable desk-bottom" id="desk-11"></div></td>
              <td class="row-aisle"><div class="aisle"></div></td>
              <td class="row-room"><div class="clearable desk-bottom" id="desk-12"></div></td>
            </tr>
            <tr>
              <td class="row-room"><div class="clearable desk-top" id="desk-13"></div></td>
              <td class="row-aisle"><div class="aisle"></div></td>
              <td class="row-room">
                <span class="red-chewit-top small pull-left"></span>
                <span class="purple-chewit-top small pull-right"></span>
              </td>
            </tr>
            <tr>
              <td class="row-room"><div class="clearable desk-bottom" id="desk-14"></div></td>
              <td class="row-aisle"><div class="aisle"></div></td>
              <td class="row-room">
                <span class="red-chewit-bottom small pull-left"></span>
                <span class="purple-chewit-bottom small pull-right"></span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
</body>
</html>
